.Rproj.user
.Rhistory
.RData
.Ruserdata
.png
.DS_Store
buildings/
khun_amiin_too_neg_nasnii_buleg_khoroogoor_2011_on-2012.xlsx
khun_amiin_too_neg_nasnii_buleg_khoroogoor_2014_on-2015.xlsx
khun_amiin_too_neg_nasnii_buleg_khoroogoor_2015_on-2016.xlsx
khun_amiin_too_neg_nasnii_buleg_khoroogoor_2016_on-2017.xlsx
khun_amiin_too_neg_nasnii_buleg_khoroogoor_2017_on-2018.xlsx
landuse/
mongolia-latest.osm
mongolia-latest.osm.bz2
mongolia-latest.osm.pbf
